.cardWrapper {
  max-width: 100%;
  background-color: #f4f4f4;
  padding: 50px 150px;
  margin-top: 100px;
}

.aboutCardMainDiv {
  display: flex;
}

.aboutCardMainDiv div:not(:last-child) {
  border-right: 0.5px solid #004911;
}

.card {
  padding: 20px;
}

.cardTitle {
  margin: 10px 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.87);
}

.cardText {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.68);
}

@media (max-width: 1120px) {
  .cardTitle {
    margin: 5px 0;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0em;
  }

  .cardText {
    font-weight: 500;
    font-size: 15px;
    line-height: 120%;
  }
}

@media (max-width: 1070px) {
  .aboutCardMainDiv {
    display: grid;
    grid-template-columns:
      auto
      auto;
    text-align: center;
  }

  .aboutCardMainDiv div:not(:last-child) {
    border-right: none;
  }

  .cardWrapper {
    padding:20px 10px;
  }

}

@media (max-width: 768px) {
  .card {
    padding: 20px 50px;
  }
  .aboutCardMainDiv {
    display: grid;
    grid-template-columns: auto;
  }
}
