.btn {
  color: white;
  background: #a6a6a6;
  border-radius: 3px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  padding: 16px 25px;
  border: 0;
  cursor: pointer;
}

.btnLight {
  background-color: #f6f6f6;
  color: rgba(0, 0, 0, 0.87);
}
