.advantagesContainer {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  position: relative;
  overflow: hidden;
}

.advantagesLeftGridContainer {
  background: #363636;
  z-index: 1;
  position: relative;
}

.leftGridElements {
  display: flex;
  flex-direction: column;
  padding: 30px 60px;
}

.leftGridElementsTitle {
  font-size: 25px;
  color: #c7c7c7;
  font-weight: 400;
  line-height: 35px;
  width: 264px;
  padding: 10px 60px;
}

.leftGridElementsLogoContainer {
  background: #ffd700;
  border-radius: 50%;
  width: 95px;
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  overflow: hidden;
}

.descriptionHeader {
  font-size: 40px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 1%;
  color: #fff;
  padding-top: 20px;
  padding-right: 20px;
}

.description {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #dedede;
  letter-spacing: 1%;
  padding-top: 20px;
  padding-right: 20px;
  width: 90%;
}

.advantagesRightGridContainer {
  display: flex;
  z-index: 123;
}

.gridElementNumber {
  font-size: 30px;
  font-weight: 400;
  color: #bcbcbc;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 70px;
}

.advantagesImg1 {
  width: 100%;
  margin-left: -0.1px;
  display: block;
}

.doorImgContainer {
  position: absolute;
  bottom: 0;
  left: -50px;
  z-index: 100;
}

.whenResponsiveActive {
  display: none;
}

/* Media */

@media (max-width: 1115px) {
  .leftGridElements {
    padding: 30px 40px;
  }
  .gridElementNumber {
    bottom: 20px;
  }
  .leftGridElementsTitle {
    padding: 10px 40px;
  }
  .descriptionHeader {
    font-size: 34px;
    line-height: 50px;
  }
  .description {
    font-size: 16px;
  }
  .leftGridElementsLogoContainer {
    width: 80px;
    height: 80px;
    margin-top: 0px;
  }
}

@media (max-width: 1000px) {
  .descriptionHeader {
    font-size: 30px;
    line-height: 40px;
  }
  .description {
    font-size: 14px;
    line-height: 25px;
  }
  .leftGridElements {
    padding: 30px;
  }
}

@media (max-width: 750px) {
  .leftGridElementsLogoContainer {
    width: 75px;
    height: 75px;
    margin-top: 0px;
  }
  .leftGridElements {
    width: 65%;
  }
  .advantagesRightGridContainer {
    display: none;
  }
  .advantagesContainer {
    display: flex;
  }
  .advantagesLeftGridContainer {
    height: 650px;
  }
  .advantagesImg1 {
    display: none !important;
  }
  .doorImgContainer {
    right: 10px;
    left: unset;
  }
  .whenResponsiveActive {
    display: block;
  }
  .leftGridElementsTitle {
    font-size: 22px;
    line-height: 25px;
  }
  .gridElementNumber {
    margin-top: 50px;
  }
}

@media (max-width: 500px) {
  .whenResponsiveActive {
    display: none;
  }
  .leftGridElements {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .leftGridElementsTitle {
    font-size: 22px;
  }
  .descriptionHeader {
    font-size: 25px;
    line-height: 35px;
  }
  .description {
    font-size: 12px;
    line-height: 25px;
  }
  .leftGridElements {
    padding: 30px 20px;
  }
}
